@import "tailwindcss";

/* @theme {
  --color-primary: #3B82F6;
  --color-secondary: #6366F1;
  --color-neutral: #1F2937;
  --color-accent: #FBBF24;
} */

@theme {
  --color-primary: oklch(78.9% 0.154 211.53);
  --color-secondary: oklch(90.5% 0.182 98.111);
  --color-neutral: #1F2937;
  --color-accent: #FBBF24;
}